:root {
  --primaryBlue: #4472c4;
  --lightBlue: #5b9bd5;
  --lightGray: #b2b2b2;
  --veryLightGray: #d6d6d6;
  --red: #ff0000;
  --lightRed: #ff9999;
  --normalFont: Verdana, sans-serif;
}

.Login {
  font-family: var(--normalFont);
}

.Register {
  font-family: var(--normalFont);
}

.Home {
  font-family: var(--normalFont);
  padding-bottom: 60px;
}

.DoneTasks {
  font-family: var(--normalFont);
  padding-bottom: 60px;
}

.Settings {
  font-family: var(--normalFont);
  padding-bottom: 60px;
}

.TaskSettings {
  font-family: var(--normalFont);
  padding-bottom: 60px;
}

.NewTask {
  font-family: var(--normalFont);
  padding-bottom: 60px;
}

.TopBar {
  font-family: var(--normalFont);
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--veryLightGray);
}

.BottomBar {
  text-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: var(--primaryBlue);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.languageDiv {
  text-align: right;
}

.textOnlyButton {
  background-color: white;
  text-align: center;
  border: none;
}

.textOnlyButtonSelect {
  color: var(--primaryBlue);
  font-weight: 800;
  border: none;
  background-color: white;
}

.titleText {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  margin-top: 10vh;
}

.titleTextTopBar {
  font-weight: bold;
  text-align: left;
  font-size: 22px;
  display: inline-block;
}

.loginInfoDiv {
  text-align: center;
  margin-top: 10vh;
}

.normalText {
  font-size: 16px;
}

.normalLeftText {
  text-align: left;
  font-size: 16px;
}

.infoInput {
  width: 75vw;
  max-width: 600px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--lightGray);
  height: 30px;
  text-align: center;
}

.loginButtonDiv {
  margin-top: 7vh;
}

.normalButton {
  background-color: var(--primaryBlue);
  color: white;
  border: none;
  outline: 0;
  border-radius: 5px;
  display: block;
  width: 55%;
  max-width: 400px;
  height: 35px;
  font-size: 18px;
  margin: auto;
}

.highlightText {
  margin-top: 7vh;
  color: var(--primaryBlue);
  font-weight: bold;
  text-align: center;
}

.registerInfoDiv {
  text-align: center;
  margin-top: 5vh;
  display: inline-block;
}

.smallHighlightText {
  text-align: right;
  font-size: 16px;
}

.pageTitle {
  text-align: left;
  display: inline-block;
}

.todoList {
  border: 1px solid var(--veryLightGray);
  border-radius: 5px;
  overflow-y: scroll;
  height: 58vh;
}

.homeButtonWrapper {
  text-align: right;
  margin-top: 2vh;
}

.topDiv {
  display: flex;
  justify-content: space-between;
}

.settingsTopDiv {
  display: flex;
  justify-content: space-between;
}

.smallText {
  text-align: right;
  font-size: 16px;
  display: block;
  margin-bottom: 0;
}

.smallTextInline {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 0;
}

.task {
  padding: 1em;
  margin-top: 1em;
  border-bottom: 1px solid var(--veryLightGray);
  border-top: 1px solid var(--veryLightGray);
}

.urgentTask {
  padding: 1em;
  margin-top: 1em;
  background-color: var(--lightRed);
}

.settingsLanguageDiv {
  text-align: center;
}

.settingInfoInput {
  width: 90vw;
  max-width: 600px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--lightGray);
  height: 30px;
  text-align: center;
}

.settingsDivider {
  padding-top: 2vh;
  text-align: center;
}

.newTaskDateDivider {
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

.tabDiv {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.notif {
  margin: 15px;
  border-bottom: 1px solid var(--veryLightGray);
}

.checkToggle {
  color: var(--lightBlue);
}

.notifList {
  border: 1px solid var(--veryLightGray);
  border-radius: 5px;
  overflow-y: scroll;
  height: 48vh;
}

.leftRightDisplayDiv {
  display: flex;
  justify-content: space-between;
}

.smallBorderButton {
  background-color: transparent;
  border: 2px solid var(--primaryBlue);
  color: var(--primaryBlue);
  display: inline-block;
  border-radius: 5px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
}

.smallBorderButtonBlack {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  display: inline-block;
  border-radius: 5px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
}

.listTaskName {
  font-size: 18px;
  display: inline-block;
  margin: 0;
}

.listTaskDate {
  margin: 0;
}

.newTaskDatePicker {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--lightGray);
  height: 30px;
  font-size: 16px;
  width: 90vw;
  max-width: 600px;
  text-align: center;
}

#homeNewTaskButton {
  display: inline-block;
  width: auto;
}

#footerHomeButton,
#footerDoneButton,
#footerSettingsButton {
  color: white;
}

#footerHomeButtonDisabled,
#footerDoneButtonDisabled,
#footerSettingsButtonDisabled {
  pointer-events: none;
  color: var(--lightBlue);
}

#topLogoutButton {
  color: var(--primaryBlue);
}

#loginRegisterButton {
  background-color: var(--lightBlue);
  border: none;
  margin-top: 5vh;
}

#registerButton {
  margin-top: 7vh;
}

#settingsSave {
  margin-top: 3vh;
}

#settingsDelete {
  margin-top: 3vh;
  background-color: var(--red);
}

#registerInfoWrapper {
  text-align: center;
}

#completeList {
  height: 65vh;
}

#pageTitleWithPadding {
  display: inline-block;
}

#settingsBottomPadding {
  padding-bottom: 2vh;
}

#settingsbottomDiv {
  padding: 0;
  border-top: 1px solid var(--veryLightGray);
}

#removeAllNotifsButton {
  background-color: var(--red);
  font-size: 16px;
  margin-top: 25px;
  display: inline-block;
}

#homeInlineLoggedIn {
  display: inline-block;
  font-size: 14px;
}

#homeUsername {
  margin-top: 0;
  margin-block-end: 1em;
}
